div {
    -moz-border-radius: .25em; padding-left: .5em;
    padding: 10px;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 1px;
    background: #e0ebf5;
}

body {
    background: #866C53;
}

.title {
    background: #4f3f37;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu { 
    background-image: linear-gradient(white, #e0ebf5);
    border-radius: 11px 11px 0px 0px;
    font-family: 'trebuchet ms','luxi sans',sans-serif;
    font-size: 80%;
    text-align: center;
}

.selectedmenuitem { 
    color: #ff6600;
}

.section {
    -moz-border-radius: .25em; padding-left: .5em;
    border: solid 1px;
}

h2 {
    font-family: 'trebuchet ms','luxi sans',sans-serif;
    font-weight: bold;
    font-size: 130%;
    color: #ef5600;
    margin: 0;
}

.heading {
    font-family: 'trebuchet ms','luxi sans',sans-serif;
    font-weight: bold;
    color: #ff6600;
}

.date {
    font-family: monospace;
}

.footer {
    border: none;
    margin: 0;
    text-align: center;
    font-size: 80%;
    color: #ffffff;
    background: #4f3f37;
}

.divider {
    border: none;
    text-align: center;
    font-size: 80%;
    background: #ffffff;
}

.details {
    font-size: 65%;
}

ul li ul li {
    list-style-type: disc;
}

.question {
    font-family: 'trebuchet ms','luxi sans',sans-serif;
    font-weight: bold;    
    text-decoration: underline;
    list-style-type: none;
    margin-top: 15px;
}

.answer {
    list-style-type: none;
}

.large {
    font-size: 130%;
}

img {
    border: none;
}
