div {
    -moz-border-radius: .25em; padding-left: .5em;
    padding: 10px;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 1px;
    background: #e0ebf5;
}

.title {
    background: #ffffff;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu { 
    font-family: sans-serif;
    font-size: 80%;
    text-align: center;
}

.selectedmenuitem { 
    color: #ff6600;
}

.section {
    -moz-border-radius: .25em; padding-left: .5em;
    border: solid 1px;
}

.heading {
    font-family: sans-serif;
    font-weight: bold;
    color: #ff6600;
}

.date {
    font-family: monospace;
}

.footer, .divider {
    border: none;
    margin: 0;
    text-align: center;
    font-size: 80%;
    background: #ffffff;
}

.details {
    font-size: 65%;
}

ul li ul li {
    list-style-type: disc;
}

.question {
    font-family: sans-serif;    
    font-weight: bold;
    indent: 1cm;
    text-decoration: underline;
    list-style-type: none;
    margin-top: 15px;
}

.answer {
    list-style-type: none;
}

.large {
    font-size: 130%;
}

img {
    border: none;
}